<!DOCTYPE html>
<html lang="en">
<head>
  <title>Michael Ameer's Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="validation.js"></script>
</head>
<body class="bg-secondary">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="../index.html">Michael Ameer's Blog</a>
  
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="../index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about.html">About</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="blog.html">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/mameer1">Github</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
    </ul>
</nav>
<br>
<h2 style="text-align: center;">Blog Posts</h2>
<h4 id="top5albums" style="text-align: center;">Opinionated pieces based off of my interests. Viewer discretion advised.</h4><br>
<div class="container w-25 float-left">          
    <table class="table table-dark table-bordered table-md">
      <thead>
        <tr>
          <th>Hobbies</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Video Games</td>
        </tr>
        <tr>
          <td>Card Games</td>
        </tr>
        <tr>
          <td>Coding</td>
        </tr>
        <tr>
          <td>Attending Concerts</td>
        </tr>
        <tr>
          <td>Listening to Music</td>
        </tr>
        <tr>
          <td>Go-Kart Racing</td>
        </tr>
        <tr>
          <td>Golf</td>
        </tr>
        <tr>
          <td>Eating</td>
        </tr>
        <tr>
          <td>Learning</td>
        </tr>
        <tr>
          <td>Making Lists</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container w-25 float-right">          
    <table class="table table-dark table-bordered table-md">
      <thead>
        <tr>
          <th>My Posts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#top5albums">My Top 5 Favorite Albums</a></td>
        </tr>
        <tr>
          <td><a href="#top3games">My Top 3 Video Game Franchises</a></td>
        </tr>
        </tbody>
        </table>
        </div>
  <div style=
  "border: 1px solid black;
  background-color: gray;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;" class="container w-50 float-right">
    <h3>My Top 5 Favorite Albums</h3>
    <p>In this post I will discuss my top 5 favorite albums of all time. 
        A lot of these albums are by metal bands from Europe so I don't expect you to know them.
        Feel free to check them out if you are looking for new, exciting music!</p>
    <ol>
        <li>From Chaos to Eternity - Rhapsody of Fire</li>
        <li>Episode - Stratovarius</li>
        <li>Theater of Salvation - Edguy</li>
        <li>Aquarius - Haken</li>
        <li>Imaginations from the Other Side - Blind Guardian</li>
    </ol>
    <p>Four of these albums can be classified as power metal while one of them is classified as progressive metal.</p>
    <p>If you can tell, those are my two favorite genres of music. It is my dream to one day attend the ProgPower festival in Atlanta, Georgia.</p>
    <p id="top3games">All five of those albums focus on a profound concept, especially From Chaos to Eternity which concludes an entire storyline of the Algalord Chronicles which started in the late 1990s.</p>
    <!--<p>For this reason and many others, From Chaos to Eternity ranks as my favorite album of all time.</p>-->
</div><br><br>
<div style=
"border: 1px solid black;
background-color: gray;
padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
padding-left: 50px;" class="container w-50 float-left">
  <h3>My Top 3 Video Game Franchises</h3>
  <p>In this post I will discuss my top 3 favorite video game franchises.</p>
  <ul>
      <li>Pokemon</li>
      <li>Fire Emblem</li>
      <li>Gran Turismo</li>
  </ul>
  <p>Pokemon is one of the earliest franchises I discovered and I have countless memories of all the time I put in to each of the main line games. Pokemon Blue is my favorite in the franchise and I used to be a dedicated speedrunner for that game.</p>
  <p>Fire Emblem is a franchise I recently fell in love with. The tactical combat and the plethora of playable characters is something I just keep going back to for fun. Fire Emblem 7 is my favorite of the franchise due to the difficulty and the three awesome lords.</p>
  <p>Gran Turismo games are behemoths to fully complete, and it is the sense of long-term progression that makes me love it. There's a charm to starting off in a used car, slowly upgrading it, and finally buying better cars. Gran Turismo 3 is my favorite in the franchise due to its perfect balance between length and challenge.</p>
</div>

</body>
</html>
