<!DOCTYPE html>
<html lang="en">
<head>
  <title>Michael Ameer's Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="validation.js"></script>
</head>
<body class="bg-secondary">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="../index.html">Michael Ameer's Blog</a>
  
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="../index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="about.html">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="blog.html">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/mameer1">Github</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
    </ul>
</nav>
<br>
<h2 style="text-align: center;">Contact Me</h2>
<h4 style="text-align: center;">Any questions? Send me an email and I will get back to you when I can</h4><br>
<div class="container w-25 float-left">          
    <table class="table table-dark table-bordered table-md">
      <thead>
        <tr>
          <th>Hobbies</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Video Games</td>
        </tr>
        <tr>
          <td>Card Games</td>
        </tr>
        <tr>
          <td>Coding</td>
        </tr>
        <tr>
          <td>Attending Concerts</td>
        </tr>
        <tr>
          <td>Listening to Music</td>
        </tr>
        <tr>
          <td>Go-Kart Racing</td>
        </tr>
        <tr>
          <td>Golf</td>
        </tr>
        <tr>
          <td>Eating</td>
        </tr>
        <tr>
          <td>Learning</td>
        </tr>
        <tr>
          <td>Making Lists</td>
        </tr>
      </tbody>
    </table>
  </div>
  <section class="mb-4">

    <div class="row">

        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" onsubmit="return validateForm()" action="../index.html" method="POST">

                <div class="row">

                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>

                </div>
  
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
       
                <div class="row">

                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <input type="submit" value="Send">
            </form><br>

            <div class="text-center text-md-left">
                <a class="btn btn-primary d-flex justify-content-center" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <p><strong>My info:</strong></p>
                </li>
                <li>
                    <p>Michael Ameer</p>
                </li>
                <li>
                    <p>michael.ameer.101@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer class="d-flex justify-content-center">2020 - All Rights Reserved</footer>
<script>
  function validateForm() {
    var name = document.forms["contact-form"]["name"].value;
    var email = document.forms["contact-form"]["email"].value;
    var subject = document.forms["contact-form"]["subject"].value;
    var message = document.forms["contact-form"]["message"].value;
    if (name == "" || email == "" || subject == "" || message == "") {
      alert("All fields must be filled out");
      return false;
    }
    alert("Sent!")
  }
</script>
</body>
</html>
